// MUI-Improvements

.MuiListSubheader-root {
    background-color: rgba(0,0,0,0) !important;
}

// Own Styles

@mixin my-flex-box($o: column, $m: 10px) {
    display: flex;
    flex-direction: $o;
    & > * {
        margin-top: $m;
        &:first-child { margin-top: 0; }
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#list-panel-box {
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
}

#editor {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    #game-settings {
        $drawer-width: 490px;
        $item-control-width: 170px;
        $tab-padding: 20px;

        max-height: 100vh;
        overflow: auto;
        flex: 0 0 $drawer-width;
        box-shadow: 0 0 15px rgba(0,0,0, 0.3);
        z-index: 2;

        .tab-p {
            width: 100%;
            height: 100%;
            #settings, #drawer {
                padding: $tab-padding;
                width: calc(100% - #{ $tab-padding * 2 });
                height: calc(100% - #{ $tab-padding * 2 });
                display: flex;
                flex-direction: column;
                overflow: auto;

                .p-buttons {
                    display: block;
                    margin-left: auto;
                    margin-bottom: 20px;
                }
            }
            #drawer {
                .tab-2 {
                    @include my-flex-box($m: 5px);
                    
                }

                .MuiListItemButton-root {
                    border: 1px rgba(0, 0, 0, 0) solid;
                    border-radius: 5px;;
                }
                .Mui-selected { border-color: rgb(174, 209, 223); }
            }
            .s-li {
                width: $item-control-width !important;
            }
        }
    }

    #game-canvas-container {
        flex: 1 1 auto;
    }
}

.space-div {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.number-input {
    @include my-flex-box($o: row, $m: 5px)
}

.tabpanel {
    display: block;
    
    &.hidden { display: none; }
}

#game-container {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    z-index: 0;
    .test-button, .zoom-button-group {
        position: absolute;
        z-index: 10;
    }
    .zoom-button-group {
        left: 10px;
        bottom: 10px;
    }
    .test-button {
        right: 10px;
        bottom: 10px;
    }
    & > canvas {
        max-width: 100%;
        max-height: 100%;
    }
}

.my-title {
    font-size: 1.2rem !important;
    color: black;
    font-weight: 400 !important;
    margin-bottom: -10px !important;
    margin-top: 10px !important;
}

.ground-type-switch {
    width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}