.MuiListSubheader-root {
  background-color: rgba(0, 0, 0, 0) !important;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#list-panel-box {
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw;
  height: 100vh;
}

#editor #game-settings {
  max-height: 100vh;
  overflow: auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 490px;
          flex: 0 0 490px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

#editor #game-settings .tab-p {
  width: 100%;
  height: 100%;
}

#editor #game-settings .tab-p #settings, #editor #game-settings .tab-p #drawer {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

#editor #game-settings .tab-p #settings .p-buttons, #editor #game-settings .tab-p #drawer .p-buttons {
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}

#editor #game-settings .tab-p #drawer .tab-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#editor #game-settings .tab-p #drawer .tab-2 > * {
  margin-top: 5px;
}

#editor #game-settings .tab-p #drawer .tab-2 > *:first-child {
  margin-top: 0;
}

#editor #game-settings .tab-p #drawer .MuiListItemButton-root {
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 5px;
}

#editor #game-settings .tab-p #drawer .Mui-selected {
  border-color: #aed1df;
}

#editor #game-settings .tab-p .s-li {
  width: 170px !important;
}

#editor #game-canvas-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.space-div {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.number-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.number-input > * {
  margin-top: 5px;
}

.number-input > *:first-child {
  margin-top: 0;
}

.tabpanel {
  display: block;
}

.tabpanel.hidden {
  display: none;
}

#game-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  position: relative;
  z-index: 0;
}

#game-container .test-button, #game-container .zoom-button-group {
  position: absolute;
  z-index: 10;
}

#game-container .zoom-button-group {
  left: 10px;
  bottom: 10px;
}

#game-container .test-button {
  right: 10px;
  bottom: 10px;
}

#game-container > canvas {
  max-width: 100%;
  max-height: 100%;
}

.my-title {
  font-size: 1.2rem !important;
  color: black;
  font-weight: 400 !important;
  margin-bottom: -10px !important;
  margin-top: 10px !important;
}

.ground-type-switch {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
/*# sourceMappingURL=index.css.map */